<!DOCTYPE html>
<html>
<head>
    <title>New Store A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css"><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Content/js/simpleCart.min.js"></script>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="search">
                    <form>
                        <input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="submit" value="Đi"></font></font>
                    </form>
                </div>
                <div class="header-left">
                    <ul>
                        <li><a href="login.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng nhập</font></font></a></li>
                        <li><a href="register.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký</font></font></a></li>

                    </ul>
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 0,00</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ( </font></font><span id="simpleCart_quantity" class="simpleCart_quantity"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> mặt hàng)</font></font>
                                </div>
                                <img src="images/cart.png" alt="">
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giỏ hàng rỗng</font></font></a></p>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                @Html.Action("MenuPartial", "Home");
                @*<div class=" h_menu4">
                    <ul class="memenu skyblue">
                        <li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
                        <li class="active grid" style="display: inline;"><a class="color8" href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trang Chủ</font></font></a></li>
                        <li style="display: inline;">
                            <a class="color1" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đàn ông</font></font></a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <li><a href="products.html">Accessories</a></li>
                                                <li><a href="products.html">Bags</a></li>
                                                <li><a href="products.html">Caps &amp; Hats</a></li>
                                                <li><a href="products.html">Hoodies &amp; Sweatshirts</a></li>
                                                <li><a href="products.html">Jackets &amp; Coats</a></li>
                                                <li><a href="products.html">Jeans</a></li>
                                                <li><a href="products.html">Jewellery</a></li>
                                                <li><a href="products.html">Jumpers &amp; Cardigans</a></li>
                                                <li><a href="products.html">Leather Jackets</a></li>
                                                <li><a href="products.html">Long Sleeve T-Shirts</a></li>
                                                <li><a href="products.html">Loungewear</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <li><a href="products.html">Shirts</a></li>
                                                <li><a href="products.html">Shoes, Boots &amp; Trainers</a></li>
                                                <li><a href="products.html">Shorts</a></li>
                                                <li><a href="products.html">Suits &amp; Blazers</a></li>
                                                <li><a href="products.html">Sunglasses</a></li>
                                                <li><a href="products.html">Sweatpants</a></li>
                                                <li><a href="products.html">Swimwear</a></li>
                                                <li><a href="products.html">Trousers &amp; Chinos</a></li>
                                                <li><a href="products.html">T-Shirts</a></li>
                                                <li><a href="products.html">Underwear &amp; Socks</a></li>
                                                <li><a href="products.html">Vests</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="products.html">Levis</a></li>
                                                <li><a href="products.html">Persol</a></li>
                                                <li><a href="products.html">Nike</a></li>
                                                <li><a href="products.html">Edwin</a></li>
                                                <li><a href="products.html">New Balance</a></li>
                                                <li><a href="products.html">Jack &amp; Jones</a></li>
                                                <li><a href="products.html">Paul Smith</a></li>
                                                <li><a href="products.html">Ray-Ban</a></li>
                                                <li><a href="products.html">Wood Wood</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="grid" style="display: inline;">
                            <a class="color2" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">	Đàn bà</font></font></a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <li><a href="products.html">Accessories</a></li>
                                                <li><a href="products.html">Bags</a></li>
                                                <li><a href="products.html">Caps &amp; Hats</a></li>
                                                <li><a href="products.html">Hoodies &amp; Sweatshirts</a></li>
                                                <li><a href="products.html">Jackets &amp; Coats</a></li>
                                                <li><a href="products.html">Jeans</a></li>
                                                <li><a href="products.html">Jewellery</a></li>
                                                <li><a href="products.html">Jumpers &amp; Cardigans</a></li>
                                                <li><a href="products.html">Leather Jackets</a></li>
                                                <li><a href="products.html">Long Sleeve T-Shirts</a></li>
                                                <li><a href="products.html">Loungewear</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <li><a href="products.html">Shirts</a></li>
                                                <li><a href="products.html">Shoes, Boots &amp; Trainers</a></li>
                                                <li><a href="products.html">Shorts</a></li>
                                                <li><a href="products.html">Suits &amp; Blazers</a></li>
                                                <li><a href="products.html">Sunglasses</a></li>
                                                <li><a href="products.html">Sweatpants</a></li>
                                                <li><a href="products.html">Swimwear</a></li>
                                                <li><a href="products.html">Trousers &amp; Chinos</a></li>
                                                <li><a href="products.html">T-Shirts</a></li>
                                                <li><a href="products.html">Underwear &amp; Socks</a></li>
                                                <li><a href="products.html">Vests</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="products.html">Levis</a></li>
                                                <li><a href="products.html">Persol</a></li>
                                                <li><a href="products.html">Nike</a></li>
                                                <li><a href="products.html">Edwin</a></li>
                                                <li><a href="products.html">New Balance</a></li>
                                                <li><a href="products.html">Jack &amp; Jones</a></li>
                                                <li><a href="products.html">Paul Smith</a></li>
                                                <li><a href="products.html">Ray-Ban</a></li>
                                                <li><a href="products.html">Wood Wood</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="display: inline;"><a class="color4" href="blog.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blog</font></font></a></li>
                        <li style="display: inline;"><a class="color6" href="contact.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Conact</font></font></a></li>
                    </ul>
                </div>*@

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>

    <div class="banner">
        <div class="container">
            <script src="js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                    });
                });
            </script>
            <div id="top" class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider">
                    <li id="callbacks1_s0" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;">

                        <div class="banner-text">
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum không chỉ đơn giản là đồ giả  </font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trái với suy nghĩ của nhiều người, Lorem Ipsum không chỉ đơn giản là văn bản ngẫu nhiên. </font><font style="vertical-align: inherit;">Nó có nguồn gốc từ một tác phẩm văn học Latinh cổ điển từ năm 45 trước Công nguyên, khiến nó hơn 2000 năm tuổi. </font><font style="vertical-align: inherit;">Richard McClintock, một giáo sư tiếng Latinh.</font></font></p>
                            <a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu thêm</font></font></a>
                        </div>

                    </li>
                    <li id="callbacks1_s1" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;" class="">

                        <div class="banner-text">
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Có nhiều biến thể </font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trái với suy nghĩ của nhiều người, Lorem Ipsum không chỉ đơn giản là văn bản ngẫu nhiên. </font><font style="vertical-align: inherit;">Nó có nguồn gốc từ một tác phẩm văn học Latinh cổ điển từ năm 45 trước Công nguyên, khiến nó hơn 2000 năm tuổi. </font><font style="vertical-align: inherit;">Richard McClintock, một giáo sư tiếng Latinh.</font></font></p>
                            <a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu thêm</font></font></a>

                        </div>

                    </li>
                    <li id="callbacks1_s2" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;" class="">
                        <div class="banner-text">
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sed ut persiciatis unde omnis</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trái với suy nghĩ của nhiều người, Lorem Ipsum không chỉ đơn giản là văn bản ngẫu nhiên. </font><font style="vertical-align: inherit;">Nó có nguồn gốc từ một tác phẩm văn học Latinh cổ điển từ năm 45 trước Công nguyên, khiến nó hơn 2000 năm tuổi. </font><font style="vertical-align: inherit;">Richard McClintock, một giáo sư tiếng Latinh.</font></font></p>
                            <a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu thêm</font></font></a>

                        </div>

                    </li>
                </ul><a href="#" class="callbacks_nav callbacks1_nav prev"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trước</font></font></a><a href="#" class="callbacks_nav callbacks1_nav next"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kế tiếp</font></font></a><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1 callbacks_here"><a href="#" class="callbacks1_s1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></a></li><li class="callbacks1_s2"><a href="#" class="callbacks1_s2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></a></li><li class="callbacks1_s3"><a href="#" class="callbacks1_s3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></a></li></ul>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="content">
        @RenderBody()
        @*<div class="container">
            <div class="content-top">
                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MỚI LIÊN QUAN</font></font></h1>
                <div class="grid-in">
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/pi.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Áo thun</font></font></span>
                                </h3>
                            </div>
                        </a>


                        <p><a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trái ngược với phổ biến</font></font></a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/pi1.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giày</font></font></span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tiếng la tinh cổ điển</font></font></a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/pi2.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Túi</font></font></span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">không thể nghi ngờ</font></font></a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="grid-in">
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/pi3.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Áo sơ mi</font></font></span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bị thay đổi</font></font></a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/pi4.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Túi</font></font></span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội dung ở đây</font></font></a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/pi5.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giày</font></font></span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">nội dung có thể đọc được</font></font></a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>*@
            <!----->

            @*<div class="content-top-bottom">
                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bộ sưu tập nổi bật</font></font></h2>
                <div class="col-md-6 men">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="images/t1.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in   b-delay03 ">
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem</font></font></span>
                            </h3>
                        </div>
                    </a>


                </div>
                <div class="col-md-6">
                    <div class="col-md1 ">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/t2.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem</font></font></span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md2">
                        <div class="col-md-6 men1">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="images/t3.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem</font></font></span>
                                    </h3>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-6 men2">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="images/t4.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem</font></font></span>
                                    </h3>
                                </div>
                            </a>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>*@
        <!---->
        <div class="content-bottom">
            <ul>
                <li><a href="#"><img class="img-responsive" src="images/lo.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo1.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo2.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo3.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo4.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo5.png" alt=""></a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">THÊM THÔNG TIN</font></font></h4>
                    <ul class="nav-bottom">
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đặt hàng như thế nào</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Câu hỏi thường gặp</font></font></a></li>
                        <li><a href="contact.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vị trí</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đang chuyển hàng</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tư cách thành viên</font></font></a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LIÊN HỆ CHÚNG TÔI</font></font></h4>

                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Trái ngược với niềm tin phổ biến
                            </font>
                        </font>
                    </p>
                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đoạn chuẩn</font></font></p>
                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">văn phòng: +12 34 995 0792</font></font></p>
                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bản tin</font></font></h4>
                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký để nhận tất cả cập nhật tin tức và quảng cáo</font></font></p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="submit" value="Đăng ký"></font></font>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2015 Cửa hàng mới Mọi quyền được bảo lưu | </font><font style="vertical-align: inherit;">Thiết kế bởi   </font></font><a href="http://w3layouts.com/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">W3layouts</font></font></a> </p>
        </div>
    </div><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Translate"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Original text</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Contribute a better translation</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>


    <div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div>
</body>
</html>
